path{
    fill: grey;
}

svg{
    background-color: lightblue;
}

#tooltip
{

    padding: 5px;
    padding-left: 10px;
    margin: 0px;
    position: absolute;
    z-index: 1;
    pointer-events: none;
    display: none;
    border-radius: 15px;
}

#tooltip_name
{
    width: 100%;
    height: 100%;
    width: max-content;
    border-radius: 10px;
    max-width: 400px;
    height: fit-content;
    padding: 5px;
    background-color: rgba(119, 110, 110, 0.514);
}

.plantcircle{
    pointer-events:none;
}

#tooltip_name
{
    color: yellow;
    position: absolute;
}

.state :hover
{
    fill: yellow;
}

#map
{
    display: inline-block;
    position: relative;
    margin-top: 25px; /* nudged this map down so it aligns with the bar chart*/
}

#chart
{
    position:sticky;
    display:inline-block;
    border: 1px solid black;
    margin: auto;
    vertical-align: top;
    word-wrap:break-word;
    max-width: 600px;
    min-width: 600px; /* make this the same width as the bar chart for improved presentation */
    margin-top: 25px;
}

#map svg
{
    fill: red;
    border:1px solid black;
}

#stateSelector
{
    max-height: 400px;
    overflow-y: auto;
}

#locationDiv
{
    display:inline-block;
    margin: 0 auto;
}

#potentialCheckbox:checked
{
    background-color: blue;
}

#potentialCheckbox
{
    background-color: blue;
}